<div class="row">
  <% if spots %>
      <h3 class="text-center">検索結果一覧</h3>
        <% spots.each do |spot| %>
          <div class="spot-results col-sm-6 ">
            <ul>
              <% if spot.persisted? %>
                <li>スポット名　：<%= link_to spot.name, spot %></li>
              <% else %>
                <li>スポット名　：<%= spot.name %></li>
              <% end %>
                <li>住所　：<%= spot.formatted_address %></li>
              <div class="buttons text-center">
              <% if logged_in? %>
                <li><%= render 'favorite_spots/good_button', spot: spot %></li>
              <% end %>
              </div>
            </ul>
          </div>
        <% end %>
  <% end %>
</div>