<div class="row">
  <h3 class="text-center">クチコミ一覧</h3>
    <% reviews.each do |review| %>
      <div class="spot-reviews">
        <ul>
            <li>タイトル　：<%= review.title %></li>
            <li>クチコミ　：<%= review.review %></li>
          <% if current_user == review.user %>
            <li class="text-right"><%= link_to "削除", review, method: :delete, data: { confirm: "クチコミを削除しますか？" }, class: 'btn btn-danger btn-xs' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%= paginate reviews %>
</div>
